{%- if documentation -%}
/**
 * {{ documentation }}
 */
{%- endif -%}
export interface {{ name }}{% if generics -%}<{{ generics | join(', ') }}>{%- endif -%}{% if extends -%} extends {{ extends | join(', ') }}{%- endif -%} {
{%- for property in properties %}
{%- if property.documentation %}
  /** {{ property.documentation }} */
{%- endif %}
  {{ property.name }}{% if property.optional %}?{% endif %}: {{ property.type_expr }};
{%- endfor %}
}
