{%- if return_type == "Promise<Response>" -%}
const url = this.configuration?.basePath || '';
return this.request({ url, init: { method: 'DELETE' } });
{%- elif has_body_param -%}
const url = this.configuration?.basePath || '';
return this.request({
  url,
  init: {
    method: '{{ http_method }}',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(body)
  }
}).then(response => response.json());
{%- else -%}
const url = this.configuration?.basePath || '';
return this.request({ url, init: { method: 'GET' } }).then(response => response.json());
{%- endif -%}
