  const url = `${this.configuration?.basePath || ''}{{ path | replace('{', '${') }}`;
  return this.request({ 
    url, 
    init: { 
      method: 'GET',
    } 
  }).then(response => response.json());
