{%- if class_name == "BaseAPI" -%}
this.configuration = configuration;
{%- elif class_name == "RequiredError" -%}
super(field);
this.field = field;
{%- elif extends -%}
super(configuration);
{%- else -%}
// TODO: Implement constructor
{%- endif -%}

{%- if additional_statements -%}
{%- for statement in additional_statements -%}
{{ statement }}
{%- endfor -%}
{%- endif -%}
