{%- if documentation -%}
/**
 * {{ documentation }}
 */
{%- endif -%}
export enum {{ name }} {
{%- for variant in variants %}
{%- if variant.documentation %}
  /** {{ variant.documentation }} */
{%- endif %}
  {{ variant.name }}{% if variant.value %} = "{{ variant.value }}"{% endif %},
{%- endfor %}
}
